{% extends 'todo/base.html' %}
{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h2>Update Todo</h2>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        {% if error %}
        <div class="alert alert-warning" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Name</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ todo.title }}" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea rows="5" class="form-control" name="description"
                          id="description">{{ todo.description }}</textarea>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" name="important"
                       class="form-check-input"
                       id="important" {%if todo.important %}checked{% endif %}>
                <label for="important">Important</label>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            {% if todo.date_completed is None %}
            <button type="button" class="btn btn-success" onclick="$('#complete').click()">Complete</button>
            {% endif %}
            <button type="button" class="btn btn-danger" onclick="$('#delete').click()">Delete</button>
        </form>
    </div>
</div>

{% if todo.date_completed is None %}
<form method="post" style="display: none;" action="{% url 'complete_todo' todo.id %}">
    {% csrf_token %}
    <button id="complete" type="submit">Complete</button>
</form>
{% endif %}

<form method="post" style="display:none;" action="{% url 'delete_todo' todo.id %}">
    {% csrf_token %}
    <button id="delete" type="submit">Delete</button>
</form>

{% endblock %}